<h1>New Trip</h1> 

<%= form_for :trip, url: users_trips_path do |f| %>
    
    <br/>
    <br/>
    <%= f.label :state, "Select State" %>
    <%= f.collection_select :state_id, State.order('name ASC'), :id, :name, :include_blank => false %> 
    <br/>
    <br/>
    <%= f.submit "Select"  %>
<% end %>

