<h1>Sign In</h1>

<%= form_for :user do |f| %>
  </br>
    <%= f.text_field :email, placeholder: "Email" %>
    <%= f.password_field :password, placeholder: "Password" %><br><br>
    <%= f.submit "Sign In", :class => 'btn btn-block btn-success' %><br>
  <% end %>






