</br>
</br>
</br>
</br>
<h3>Comments for <%= @state.name%></h3> 
<ul>
    <% @comments.each do |comment| %> 
    <li><strong><%= comment.user.name.capitalize%> says: </strong><%= comment.content %>
    </li> 
    <% end %>
    
</ul>