</br>
</br>
</br>
<h3>Welcome, <%= @user.name %>!</h3>

 
<%= link_to "See Your Travel List", user_trips_path(@user), :class => 'btn btn-' %>
</br>
<%= link_to "Add New Trip", new_user_trip_url(@user) %>




