</br>
</br>
</br>
<h3>Welcome, <%= @user.name %>!</h3>

 
<%= link_to "See Your Travel List", attractions_path(@user) %>
</br>
<%= link_to "Add New Trip", new_attraction_path(@user) %>




