<h1>Welcome, <%= @user.name %></h1>

<h2>Manage Your Trips</h2> 

<%= link_to "See Your List", attraction_path(@user) %>
</br>
</br>
<%= link_to "Add New Attraction", new_attraction_path(@user) %>




