<h1>Welcome, <%= @user.name %></h1>
</br>
<h2>Manage Your Trips</h2> 

<%= link_to "See Your List", user_trips_path(@user) %>
</br>
</br>
<%= link_to "Add New Trip", new_user_trip_path(@user) %>




