</br>
</br>
</br>
</br>
<h3>Welcome, <%= @user.name.capitalize %>!</h3>
</br>
</br>
<%= link_to "See Your Attraction List", attractions_path(@user) %>
</br>
</br>
<%= link_to "Add New Attraction", new_attraction_url(@user) %>




