</br>
</br>
</br>
States Index


<h1><% @states.each do |state| %></h1>
<ul>
    <li><%= link_to state.name, state_path(state) %>
    </li>
</ul>
    <% end %>

<%= link_to "See the Most Visited State", most_visited_url %>

