</br>
</br>
</br>
</br>
<h3>States Index</h3>
<hr>
<% @states.each do |state| %>
    <ul>
        <li>
        
        <%= link_to state.name, state_path(state) %></li>
    </ul>
<% end %>
<hr>
<%= link_to "State With Most Comments", states_most_comments_url, :class => 'btn btn-sm btn-primary' %>
<%= link_to "See Attraction List", attractions_path(@user), :class => 'btn btn-sm btn-primary' %>


    
   