</br>
</br>
</br>
<h3>States Index</h3>
</br>
<% @states.each do |state| %>
    <ul>
    <li>
        <%= link_to state.name, state_path(state) %></li>
        </ul>
    <% end %>
    
    <p>
    <%=link_to "See Reviews", attraction_reviews_path(@attraction.id) %> -
    <%=link_to "Write A New Review", new_attraction_review_path(@attraction.id) %>
    </p>