</br>
</br>
</br>
<h3>States Index</h3>
</br>
<% @states.each do |state| %>
    <ul>
    <li>
        <%= link_to state.name, state_path(state) %></li>
        </ul>
    <% end %>

    

    
   