</br>
</br>
</br>
<div class="list-details">
<h3><%= @state.name %></h3>

<h4>Browse Attractions</h4>

<% @state.attractions.each do |attraction| %>
<ul>
<li>
<%= link_to attraction.name, attraction_path(attraction) %>
</li>
</ul>
<% end %>
<%= link_to "Create Attraction", new_attraction_path %>
