</br>
</br>
</br>
<h2><%= @state.name %></h2>
<hr>

<h4>Attractions</h4>

<% @state.attractions.each do |attraction| %>
<ul>
<li>
<%= link_to attraction.name, attraction_path(attraction) %>
</li>
</ul>
<% end %>
<hr>
<%= link_to "See State Comments", state_comments_path(@state.id), :class => 'btn btn-sm btn-primary' %> 
<%= link_to "Create New Comment", new_state_comment_path(@state.id), :class => 'btn btn-sm btn-primary' %>
 