</br>
</br>
</br>
</br>
<h3>Welcome, Travellers!</h3>
</br>
<%= link_to 'Sign In', signin_path, :class => 'btn btn-sm btn-primary btn-rounded' %>
</br>
</br>
<%= link_to 'Sign Up', '/users/new', :class => 'btn btn-sm btn-primary btn-rounded' %>
</br>
</br>
<%= link_to('Sign In Through Facebook', '/auth/facebook') %>