</br>
</br>
</br>
<h4>Your Attractions</h4> 

<% @attractions.each do |attraction| %>

<li><%= link_to attraction.attraction_and_state, attraction_path(attraction) %></li>
<% end %>


      


    