</br>
</br>
</br>
</br>
<h4><%= current_user.name.capitalize %>'s Attraction List</h4> 
</br>
<% @attractions.each do |attraction| %>

<ul>
<li>
    <%= link_to attraction.attraction_plus_state, attraction_path(attraction) %></li>
    </ul>
<% end %>

<hr>
<%= link_to "Add New Attraction", new_attraction_url(@user), :class => 'btn btn-sm btn-primary' %>
<%= link_to "Browse By State", states_path(@state), :class => 'btn btn-sm btn-primary' %>








