</br>
</br>
</br>

<h4><%= current_user.name.capitalize %>'s Attraction List</h4> 
</br>
<%= @attractions.each do |attraction| %> 
<ul>
<li>
    <%= link_to attraction.name, attraction_path(attraction) %></li>
    </ul>
    
    <% end %>









